# Selección de Factores
Se puede realizar con varios métodos:
 
* Correlaciones
* SelectkBest
* Árbol de Decisión
* Regresión

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('titanic.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2201 entries, 0 to 2200
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Clase       2201 non-null   object
 1   Edad        2201 non-null   object
 2   Sexo        2201 non-null   object
 3   Sobrevivio  2201 non-null   object
dtypes: object(4)
memory usage: 68.9+ KB

In [4]:
#Convertimos a número todas las variables (incluyendo la objetivo)
 
#Dummies para variable con más de 2 categorías
data = pd.get_dummies(data, columns=['Clase'], drop_first=False)
 
#Dummies para variable con 2 categorías
data = pd.get_dummies(data, columns=['Edad', 'Sexo','Sobrevivio'],  drop_first=True)
 
data.head()

,Clase_primera,Clase_segunda,Clase_tercera,Clase_tripulacion,Edad_infante,Sexo_mujer,Sobrevivio_si
0,1,0,0,0,0,0,1
1,1,0,0,0,0,0,1
2,1,0,0,0,0,0,1
3,1,0,0,0,0,0,1
4,1,0,0,0,0,0,1

In [5]:
# Correlaciones: variables numéricas 
 
correlaciones=data.corr()
correlaciones

,Clase_primera,Clase_segunda,Clase_tercera,Clase_tripulacion,Edad_infante,Sexo_mujer,Sobrevivio_si
Clase_primera,1.000000,-0.160528,-0.286027,-0.341326,-0.059590,0.236257,0.268423
Clase_segunda,-0.160528,1.000000,-0.265037,-0.316278,0.061663,0.149065,0.075051
Clase_tercera,-0.286027,-0.265037,1.000000,-0.563541,0.197569,0.107457,-0.104204
Clase_tripulacion,-0.341326,-0.316278,-0.563541,1.000000,-0.187187,-0.375305,-0.146405
Edad_infante,-0.059590,0.061663,0.197569,-0.187187,1.000000,0.111013,0.097575
Sexo_mujer,0.236257,0.149065,0.107457,-0.375305,0.111013,1.000000,0.455605
Sobrevivio_si,0.268423,0.075051,-0.104204,-0.146405,0.097575,0.455605,1.000000

In [6]:
#Correlaciones con la variable sobrevivio
correlaciones.loc['Sobrevivio_si'].abs()

Clase_primera        0.268423
Clase_segunda        0.075051
Clase_tercera        0.104204
Clase_tripulacion    0.146405
Edad_infante         0.097575
Sexo_mujer           0.455605
Sobrevivio_si        1.000000
Name: Sobrevivio_si, dtype: float64